<ion-view view-title="Credits">
  <ion-content>
		<div class="card">
			<ion-item class="item-text-wrap">
				Tutyr was created was originally built as a class project for the Designing Human Centered Software course at Carnegie Mellon University. 
			</ion-item>
		</div>	
		
		<div class="list card">
			<ion-item class="item-divider">Built By</ion-item>
			<ion-item>Nathaniel Fruchter</ion-item>
			<ion-item>Jean Kim</ion-item>
			<ion-item>Evan Metsky</ion-item>
			<ion-item>Elliott Tan</ion-item>
			<ion-item>Neeharika Taneja</ion-item>
		</div>
  </ion-content>
</ion-view>
