<ion-view view-title= "About Tutyr">
  <ion-content>
		<div class="card">
			<ion-item class="item-divider">
				Hello!
			</ion-item>
			<ion-item class="item-text-wrap">
				Tutyr is an easy to use, on-demand tutoring service that helps match students with relevant expertise to those who need help. 
			</ion-item>
		</div>	
		<div class="list card">

		  <a ng-click="emailFeedback()" class="item item-icon-left">
		    <i class="icon ion-email"></i>
				Send us feedback
		  </a>

		  <a ng-click="visitWebsite()" class="item item-icon-left" target="_blank">
		    <i class="icon ion-earth"></i>
				Visit our website
		  </a>

		  <a ng-click="rateStore()" class="item item-icon-left">
		    <i class="icon ion-android-star"></i>
				Rate us on the app store
		  </a>
			
			<a href="#/app/about/credits" nav-clear class="item item-icon-left">
				<i class="icon ion-document-text"></i>
				App credits
			</a>
		</div>

  </ion-content>
</ion-view>
