<ion-view view-title="Debug">
  <ion-content>
		<div class="card">
			<ion-item class="item-text-wrap">
				View all screens
			</ion-item>
		</div>			
		<div class="list card">
			<a class="button button-block"  href="#/app/about">about</a>
			<a class="button button-block"  href="#/app/edit_profile">edit_profile</a>
			<a class="button button-block"  href="#/app/intro">intro</a>
			<a class="button button-block"  href="#/app/view_profile/1">profile</a>
			<a class="button button-block"  href="#/app/session_inprog">session_inprog</a>
			<a class="button button-block"  href="#/app/session">session_over</a>
			<a class="button button-block"  href="#/app/session_pending">session_pending</a>
			<a class="button button-block"  href="#/app/settings">settings</a>
			<a class="button button-block"  href="#/app/tutor_requests">tutor_request</a>
			<a class="button button-block"  href="#/app/tutor_request/1">tuto_requests</a>
			<a class="button button-block"  href="#/app/view_profile/1">view_profile</a>
		</div>
  </ion-content>
</ion-view>
