<ion-view view-title="Edit Profile" id="edit-profile">
  <ion-content>
		<div class="header">
			<div class="profile-image">
				<img src="{{currentUser.profile_pic}}" s/>
			</div>			
			<h1>{{currentUser.real_name}}</h1>
			<h3 class="user user-status">
				<span ng-show="currentUser.tutor_mode">Tutor</span>
				<span ng-show="!currentUser.tutor_mode">Student</span>
			</h3>
		</div>			

		<div class="list">
			<form ng-submit="updateProfile()">
			<!-- list of strings -->
			<ion-item>
				<span class="input-label">Subjects</span>			
				 <ul class="list">
				   <li class="item item-checkbox" ng-repeat="subject in subjects.list">
				      <label class="checkbox">
				        <input type="checkbox" checklist-model="currentUser.subjects" checklist-value="subject">
				      </label>
							{{subject.name}}							
				   </li>
				 </ul>
			</ion-item>	
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Subject specifics</span>
		    <input type="text" placeholder="Calculus, matrix algebra, Python..." name="subjects" ng-model="currentUser.bio1">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">About Me</span>
		    <textarea placeholder="Why would you be a good tutor? Tell us a little about yourself!" ng-model="currentUser.bio2" required></textarea>
		  </label>
		  <label class="item item-input item-select">
		    <span class="input-label">My Hourly Rate</span>
		    <select ng-model="currentUser.hourly_rate" required>
		      <option selected value="0.00">$0 (free!)</option>
		      <option value="5.00">$5</option>
		      <option value="10.00">$10</option>
		      <option value="15.00">$15</option>
		      <option value="20.00">$20</option>
		      <option value="25.00">$25</option>
		      <option value="30.00">$30</option>
		      <option value="35.00">$35</option>
		    </select>
		  </label>
		  <label class="item item-input item-stacked-label" ng-if="currentUser.hourly_rate > 0">
		    <span class="input-label">Venmo ID <span style="font-weight: 300">(optional)</span></span>
		    <input type="text" placeholder="Make payments easier with Venmo." name="payment" ng-model="currentUser.bio3">
		  </label>
			<ion-item>
				<input type="submit" class="button button-block button-tutyr" value="Update Profile" ng-click="updateProfile()"/>
			</ion-item>	
			</form>
		</div>		
  </ion-content>
</ion-view>
