<ion-view view-title="Edit Profile" id="edit-profile">
  <ion-content>
		<div class="header">
			<div class="profile-image">
				<img src="{{profile.profileimage}}" s/>
			</div>			
			<h1>{{profile.realname}}</h1>
			<h3 class="user user-status">
				<span ng-show="currentUser.tutor">Tutor</span>
				<span ng-show="!currentUser.tutor">Student</span>
			</h3>
		</div>			

		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Subjects</span>
		    <input type="text" placeholder="Calculus, matrix algebra, Python...">
		  </label>
		  <label class="item item-input item-select">
		    <span class="input-label">My Hourly Rate</span>
		    <select>
		      <option selected>$0 (free!)</option>
		      <option>$5</option>
		      <option>$10</option>
		      <option>$15</option>
		      <option>$20</option>
		      <option>$25</option>
		      <option>$30</option>
		      <option>$35</option>
		    </select>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">About Me</span>
		    <textarea placeholder="Why would you be a good tutor? Tell us a little about yourself!" ></textarea>
		  </label>
			<ion-item>
				<button class="button button-block button-tutyr">Update Profile</button>
			</ion-item>	
		</div>		
  </ion-content>
</ion-view>
