<ion-view view-title="Tutyr">
  <ion-content id="intro">
		<div ng-if="!currentUser.loggedIn&&!$storage.currentUser.loggedIn" class="login">
			<p><img src="img/logo-text.svg" alt="Tutyr logo" class="logo" /></p>
			<h2>Log in for an easy to use, on-demand tutoring service.</h2>
			<br />

			<button class="button button-block button-tutyr" ng-click="fbLogin()">
				<i class="icon ion-social-facebook"></i> &nbsp; Login With Facebook
			</button>						
		</div>
		
		<div ng-if="currentUser.loggedIn||$storage.currentUser.loggedIn" class="newsfeed">	
			<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>			
			<div class="header" ng-show="showSearch">
			  <label class="item item-dark item-input item-select">
			    <div class="input-label">
						Filter Subjects
			    </div>
			    <select ng-model="subjectFilter">
			      <option value="1">New</option>
			      <option value="4">Completed</option>
			      <option value="99">Declined</option>
						<option value="">All</option>
			    </select>
			  </label>
				<div class="item item-dark item-list">
				  <label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" placeholder="Search" ng-model="searchFilter">
				  </label>
				</div>
			</div>	
			<ion-item class="item-dark" ng-show="true">
				<button class="button button-block button-tutyr" ng-click="toggleSearch()">Search and Filter</button>
			</ion-item>
			<div class="newsfeed-profiles">
				<div ng-repeat="profile in feed | filter:searchFilter" 
					class="profile card" 
					ng-if="feed"
					ng-hide="profile.facebook_id == currentUser.facebook_id"
					ng-click="gotoProfile(profile.facebook_id)">
					<div class="row profile-main">
						<div class="col col-25">
							<div class="profile-image">
								<a href="#/app/view_profile/{{profile.facebook_id}}"><img src="{{profile.profile_pic}}" /></a>
							</div>					
						</div>
						<div class="col col-75">	
							<p class="profile-name">{{profile.real_name}}</p> 
							<p class="profile-bio">{{profile.bio1}}</p> <!-- subject details -->
							<rating ng-model="profile.rating" readonly="true" ng-show="profile.num_ratings > 0"></rating>
							<p class="profile-no-rating" ng-if="profile.num_ratings == 0"><em>No ratings</em></p>
						</div>	
					</div>	
					<hr />
					<div class="row profile-meta">
						<i class="icon ion-location"></i> 
						<span class="location" ng-show="profile.latitude && profile.longitude">
							<reverse-geocode lat="{{profile.latitude}}" lng="{{profile.longitude}}"></reverse-geocode>
						</span>
						<span class="location" ng-show="!(profile.latitude && profile.longitude)">No location shared</span>
					</div>
			</div> <!-- /profile -->						
			<div ng-if="feed.length == 0" class="inactive-session">
				<i class="icon ion-person-stalker"></i>
				<p>There are no Tutyrs in the area.</p>				
			</div>	
			<div ng-if="!feed" class="inactive-session">
				<ion-spinner></ion-spinner>
				<p>Loading Tutyrs from the server...</p>				
			</div>	
		</div>	<!-- /profiles -->
  </ion-content>
</ion-view>
