<ion-view view-title="Tutyr">
  <ion-content id="intro">
		<div ng-if="!currentUser.loggedIn" class="login">
			<p><img src="img/logo-text.svg" alt="Tutyr logo" class="logo" /></p>
			<h2>Log in for an easy to use, on-demand tutoring service.</h2>
			<br />

			<button class="button button-block button-tutyr" ng-click="fbLogin()">
				<i class="icon ion-social-facebook"></i> &nbsp; Login With Facebook
			</button>						
			<button class="button button-block button-tutyr" ng-click="fakeLogin()">
				Fake Login
			</button>						
		</div>
		
		<div ng-if="currentUser.loggedIn" class="newsfeed">	
			<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>			
			<div class="header">
				<div class="list list-inset">
				  <label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" placeholder="Search" ng-model="searchFilter">
				  </label>
				</div>
			</div>	
			
			<div class="newsfeed-profiles">
				<div ng-repeat="profile in mockNewsfeed.profiles | filter:searchFilter" class="profile card">
					<div class="row profile-main">
						<div class="col col-25">
							<div class="profile-image">
								<a href="#/app/view_profile/{{profile.id}}"><img src="img/{{profile.profile_pic}}" /></a>
							</div>					
						</div>
						<div class="col col-75">	
							<p class="profile-name">{{profile.realname}}</p>
							<p class="profile-bio">{{profile.bio1}}</p>
							<rating ng-model="profile.rating" readonly="true">
						</div>	
					</div>	
					<hr />
					<div class="row profile-meta">
						<i class="icon ion-location"></i> {{profile.customlocation}}
					</div>
			</div> <!-- /profile -->						
		</div>	<!-- /profiles -->
  </ion-content>
</ion-view>
