<ion-view view-title="Welcome!">
  <ion-content id="intro">
		<div ng-if="!currentUser.loggedIn" class="login">
			<h1>Tutyr</h1>
			<h2>Log in for an easy to use, on-demand tutoring service.</h2>
			<br />

			<button class="button button-block button-calm">
				Login With Facebook
			</button>			
			<button class="button button-block button-tutyr">
				Sign Up
			</button>
			
		</div>
		<div ng-if="currentUser.loggedIn" class="newsfeed">	
			<p>News feed goes here</p>
		</div>	
  </ion-content>
</ion-view>
