<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content ng-class="currentUser.tutor ? 'is-tutyr' : ''">
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-stable"> 
				<i class="ion-arrow-left-c"></i> Back			
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Tutyr</h1>
    </ion-header-bar>
		
    <ion-content>			
			<div ng-if="!currentUser.loggedIn">
				<!-- Menu for logged out users -->
				<ion-list>
	        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/intro">
	          <i class="icon ion-log-in"></i> Login
	        </ion-item>
	        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/about">
						<i class="icon ion-help"></i> Help and Feedback
	        </ion-item>			
				</ion-list>
			</div>	
			
			<div ng-if="currentUser.loggedIn">
				<!-- Menu for logged in users -->
				<div class="user user-image">
					<img src="{{currentUser.profileimage}}" />
				</div>	
				<h2 class="user user-name">{{currentUser.realname}}</h2>
				<h3 class="user user-status">
					<span ng-show="currentUser.tutor">Tutor</span>
					<span ng-show="!currentUser.tutor">Student</span>
				</h3>
					
	      <ion-list>
	        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/tutor_requests" ng-if="currentUser.tutor">
						<i class="icon ion-email"></i> Requests
	        </ion-item>
	        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/edit_profile" ng-if="currentUser.tutor">
						<i class="icon ion-edit"></i> Profile
	        </ion-item>
					
	        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/newsfeed">
						<i class="icon ion-document-text"></i> News Feed
	        </ion-item>
	        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/settings">
						<i class="icon ion-gear-a"></i> Preferences
	        </ion-item>
	        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/about">
						<i class="icon ion-help"></i> Help and Feedback
	        </ion-item>
					
					<ion-toggle 
					ng-model="currentUser.tutor" 
					toggle-class="toggle-tutyr"
					ng-click="monitorTutorToggle()">Tutor Mode</ion-toggle>
					<!-- 
						todo:
						$watch currentUser.tutor
							on change toggle on server
							etc
						-->
	      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
