<ion-view view-title="Your Tutyr Session" id="session">
  <ion-content>
		
		<!-- ====== Tutor-side in progress view ====== -->
		<div ng-if="currentUser.tutor">
			<ion-item class="tutor-view-header">
				<div class="profile-image">
					<img src="{{session.tutee.profileimage}}" />
				</div>
				<p class="profile-name">{{session.tutee.realname}} is currently in session</p>
			</ion-item>	
			<ion-item class="tutor-view-timer">
				<div timer start="session.started"></div>
			</ion-item>	
			<ion-item>
				<button class="button button-block button-tutyr">End Session</button>
			</ion-item>	

			
		</div>	
		

		<!-- ====== Student-side in progress view ====== -->
		<div ng-if="!currentUser.tutor">
		</div>	
  </ion-content>
</ion-view>
