<ion-view view-title="Your Tutyr Session" id="session">
  <ion-content>
		
		<!-- ====== Tutor-side in progress view ====== -->
		<ion-item class="item item-divider item-tutyr" ng-if="session.started">
			<i class="icon ion-clock"></i> &nbsp; Session in progress
		</ion-item>	
		
		<div ng-if="currentUser.tutor" class="tutor">
			<div ng-if="session.active" class="active-session">
				<ion-item class="tutor-view-header">
					<div class="profile-image">
						<img src="{{session.tutee.profileimage}}" />
					</div>
					<p class="profile-name">You are tutoring {{session.tutee.realname}}</p>
				</ion-item>	
				<ion-item class="tutor-view-timer">
					<div timer start="session.started"></div>
				</ion-item>	
				<ion-item>
					<button class="button button-block button-tutyr">End Session</button>
				</ion-item>
			</div>
			<div ng-if="!session.active" class="inactive-session">				
				<i class="icon ion-help-circled"></i>
				<p>Oops! You don't have an active tutoring session right now.</p>
			</div>					
		</div>	
		
		<!-- =========================================== -->
		
		<!-- ====== Student-side in progress view ====== -->
		<div ng-if="!currentUser.tutor">
			<div ng-if="session.active" class="active-session">
				<ion-item class="tutee-view-header">
					<p class="profile-image">
						<img src="{{session.tutor.profileimage}}">
					</p>
					<p class="profile-name">Your tutor is {{session.tutor.realname}}</p>
					<p class="profile-meta">
						<span class="rate">${{session.tutor.bio2}}/hour</span> 
						&bull; 
						<span class="location">At {{session.tutor.customLocation}}</span>
					</p>
				</ion-item>					
				<ion-item class="tutee-view-timer" ng-if="session.started">
					<div timer start="session.started"></div>
				</ion-item>				
			</div>	
						
			<div ng-if="!session.active" class="inactive-session">				
				<i class="icon ion-help-circled"></i>
				<p>You don't have an active tutoring session right now.</p>
			</div>								
		</div>	
  </ion-content>
</ion-view>
