<ion-view view-title="Your Tutyr Request" id="session-pending">
  <ion-content>
		<ion-item class="item grey">
			<p>Waiting For Tutyr...</p>
			<p>			<ion-spinner icon="dots" style="fill:#fff;stroke:#fff;"></ion-spinner></p>
		</ion-item>
		<div class="row waiting">
			<div class="col-33 tutee">
				<div class="profile-image">
					<img src="img/test-person.jpg" />
				</div>	
			</div>
			<div class="col-33 arrows">
				<i class="icon ion-arrow-swap"></i>
			</div>
			<div class="col-33 tutor">	
				<div class="profile-image">
					<img src="img/test-person.jpg" />
				</div>	
			</div>	
		</div>			
		<ion-item class="item grey">		
			<button class="button button-block button-tutyr">Cancel Request</button>
		</ion-item>
  </ion-content>
</ion-view>


