<ion-view view-title="Tutyr Session Over" id="session">
  <ion-content>
		
		<!-- ====== Tutor-side rating view ====== -->		
		<div ng-if="currentUser.tutor_mode" class="tutor">
			<div ng-if="session.status == 4" class="over-session">
				<ion-item class="item-divider item-text-wrap item-assertive">
					This session is over, but you can view its summary.
				</ion-item>	
				<ion-item class="tutor-view-header item-text-wrap">
					<div class="profile-image">
						<img src="{{session.tutor_from.profile_pic}}" />
					</div>
					<p class="profile-name">You tutored {{session.tutor_from.real_name}}</p>
				</ion-item>				
				<ion-item class="item-text-wrap">
					<strong>{{session.session_end | amDifference : session.session_start : 'minutes' }}m</strong> 
					session @ <strong>${{session.tutor_to.hourly_rate}}/hr</strong>
				</ion-item>				
			</div>	
			
			<div ng-if="session.status == 3" class="active-session">
				<ion-item class="tutor-view-header item-text-wrap">
					<div class="profile-image">
						<img src="{{session.tutor_from.profile_pic}}" />
					</div>
					<p class="profile-name">You tutored {{session.tutor_from.real_name}}</p>
				</ion-item>	
				<ion-item class="item-divider">Summary</ion-item>
				<ion-item class="item-text-wrap">
					<strong>{{session.session_end | amDifference : session.session_start : 'minutes' }}m</strong> 
					session @ <strong>${{session.tutor_to.hourly_rate}}/hr</strong>
				</ion-item>
				<ion-item class="item-divider">How Was Your Student?</ion-item>
				<ion-item class="rating">
					<span ng-show="rating.rating">[{{rating.rating}}/5]</span> <rating ng-model="rating.rating" readonly="false" /> 
				</ion-item>
				<ion-item class="item-input">
					<textarea placeholder="Any comments?" ng-model="rating.comments"></textarea>
				</ion-item>
				<ion-item>
					<a class="button button-block button-tutyr" ng-click="completeSession()">Complete Session</a>
				</ion-item>
			</div>
			<div ng-if="session.status < 1" class="inactive-session">				
				<i class="icon ion-help-circled"></i>
				<p>Oops! You don't have an active tutoring session right now.</p>
			</div>					
		</div>	
		
		<!-- =========================================== -->
		
		<!-- ====== Student-side rating view ====== -->
		<div ng-if="!currentUser.tutor_mode">
			<div ng-if="session.status == 3" class="active-session">
				<ion-item class="tutee-view-header item-text-wrap">
					<p class="profile-image">
						<img src="{{session.tutor_to.profile_pic}}">
					</p>
					<p class="profile-name">Your tutor was {{session.tutor_to.realname}}</p>
					<p class="profile-meta">
						<span class="rate">${{session.tutor_to.hourly_rate}}/hour</span> 
						&bull; 
						<span class="location">At {{session.location_comments}}</span>
					</p>
				</ion-item>					
				<ion-item class="item-divider">Summary</ion-item>
				<ion-item class="item-text-wrap">
					<strong>{{session.session_end | amDifference : session_start : 'minutes' }}m</strong> tutoring session costing <strong>$0</strong>
				</ion-item>
				<ion-item class="item-divider">How Was Your Tutor?</ion-item>
				<ion-item class="rating">
					<span ng-show="session.rating">[{{session.rating}}/5]</span> <rating ng-model="session.rating" readonly="false" /> 
				</ion-item>
				<ion-item class="item-input">
					<textarea placeholder="Any comments?"></textarea>
				</ion-item>
				<ion-item>
					<button class="button button-block button-tutyr" ng-click="completeSession()">Complete Session</button>
				</ion-item>
			</div>	
						
			<div ng-if="session.status < 1" class="inactive-session">				
				<i class="icon ion-help-circled"></i>
				<p>You don't have an active tutoring session right now.</p>
			</div>								
		</div>	
  </ion-content>
</ion-view>
