<ion-view view-title="Your Tutyr Session" id="session-pending">
  <ion-content>
		<!-- Tutee view - waiting on request -->
		<div id="tutee-waiting" ng-show="session.status==0">
			<ion-item class="item grey">
				<p>Waiting For Tutyr...</p>
				<p><ion-spinner icon="dots" style="fill:#fff;stroke:#fff;"></ion-spinner></p>
			</ion-item>
			<div class="row waiting">
				<div class="col-33 tutee">
					<div class="profile-image">
						<img src="{{session.tutor_from.profile_pic}}" />
					</div>	
				</div>
				<div class="col-33 arrows">
					<i class="icon ion-arrow-swap"></i>
				</div>
				<div class="col-33 tutor">	
					<div class="profile-image">
						<img src="{{session.tutor_to.profile_pic}}" />
					</div>	
				</div>	
			</div>			
			<ion-item class="item grey">		
				<button class="button button-block button-tutyr" ng-click="tuteeCancel()">Cancel Request</button>
			</ion-item>
		</div>
		<div id="tutee-directions" ng-show="session.status==1">
			<ui-gmap-google-map 
				center='mapData.center' 
				zoom='13' 
				options='mapData.options'
				ng-show="session.location_latitude&&session.location_longitude">
				<ui-gmap-marker
					idkey="0"
					coords="pinLocation"></ui-gmap-marker>
			</ui-gmap-google-map>			
			<ion-item class="item directions item-text-wrap">
				<p>Please meet up with your Tutyr to begin your session.</p>
				<h2>Your Tutyr</h2>
				<p>{{session.tutor_to.real_name}}</p>
				<h2>Special Instructions</h2>
				<p>{{session.location_comments||"None given."}}</p>
				<button class="button button-block button-tutyr" ng-show="session.location_latitude" ng-click="getDirections()">Get Directions</button>
			</ion-item>			
		</div>		
		<div ng-if="session.status==99">
			<ion-item class="item-text-wrap">{{session.tutor_to.real_name}} has declined your tutoring request.</ion-item>
			<ion-item>
				<button class="button button-block button-tutyr" ng-click="sessionOver()">Okay</button>
		</div>
  </ion-content>
</ion-view>


