<ion-view view-title="Preferences">
  <ion-content>
		<div class="card">
			<ion-item class="item-text-wrap">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</ion-item>
		</div>	
		<div class="list card">			
			<a href="#" class="item item-icon-left" 
			ng-if="fbUser.loggedIn==true||currentUser.loggedIn==true"
			ng-click="logout()">
				<i class="icon ion-log-out"></i>
				Log Out
			</a>
		</div>
  </ion-content>
</ion-view>
