<ion-view view-title="Incoming Requests">
  <ion-content>
		<ion-refresher pulling-text="Check for new requests..." on-refresh="refresh(true)"></ion-refresher>			
		<div ng-if="requests.length == 0" id="request-list-empty">
			<p><i class="icon ion-email"></i></p>
			<p>No requests at the moment.</p>
		</div>
		<div ng-if="requests.length > 0" id="request-list">
			<div class="card" ng-repeat="request in requests">
				<ion-item class="item-divider" ng-if="request.status < 90">
					{{request.timestamp | amCalendar }}
				</ion-item>	
				<ion-item class="item-divider"  ng-if="request.status > 90" class="declined">
					You declined this request.
				</ion-item>
				<ion-item class="item-text-wrap comments request-type-{{request.status}}">
					<div class="profile-image"  ng-if="request.status < 90">
						<img src="{{request.tutor_from.profile_pic}}">
					</div>
					<p class="profile-name">{{request.tutor_from.real_name}}</p>					
					<p ng-show="request.comments" ng-if="request.status < 90">Comment: "{{request.comments}}"</p>
					<p ng-if="request.status > 90">	{{request.timestamp | amCalendar }}</p>

				</ion-item>
			  <ion-item class="tabs tabs-secondary tabs-icon-left" ng-if="request.status < 90">
			    <a class="tab-item accept" href="#/app/tutor_requests/{{request.id}}">
			      <i class="icon ion-thumbsup"></i> Accept
			    </a>
			    <a class="tab-item decline" ng-click="decline(request.id)">
			      <i class="icon ion-thumbsdown"></i> Decline
			    </a>
			  </ion-item>
				
			</div>	
		</div>	
  </ion-content>
</ion-view>
