<ion-view view-title="Tutoring Request">
  <ion-content>
		<div id="request" class="item item-text-wrap">
			<div class="profile-image">
				<img src="{{request.tutor_from.profile_pic}}" />
			</div>
			<p class="profile-name">{{request.tutor_from.real_name}} is requesting a session</p>
			<p class="comments">&#8220;{{request.comments}}&#8221;</p>
			<br />
		</div>
		
		<ion-toggle 
		ng-model="useCustomLocation" 
		toggle-class="toggle-tutyr">
			Share custom location
		</ion-toggle>
		
		<ion-item ng-if="useCustomLocation" class="item-input item-stacked-label">
			<span class="input-label">Custom location</span>
			<textarea ng-model="session.location_comments" placeholder="I'm on the third floor of the library."></textarea>
		</ion-item>	
		
		<ion-item>				
			<button class="button button-block button-tutyr" ng-click="acceptSession()">
				Accept Session
			</button>
		</ion-item>
						
  </ion-content>
</ion-view>
