<ion-view view-title="Tutoring Requests">
  <ion-content>
		<ion-refresher pulling-text="Check for new requests..." on-refresh="refresh(true)"></ion-refresher>			
		<div ng-if="requests.length > 0" id="request-list">
		  <label class="item item-input item-select">
		    <div class="input-label">
					Filter Requests
		    </div>
		    <select ng-model="requestFilter">
		      <option value="0">New</option>
		      <option value="4">Completed</option>
		      <option value="98">Cancelled</option>
		      <option value="99">Declined</option>
					<option value="!1">All</option>
		    </select>
		  </label>
			<div class="card request-type-{{request.status}}" 
				ng-repeat="request in filteredRequests = (requests | filter:{status:requestFilter})">
				<ion-item class="item-divider">
					{{request.timestamp | amCalendar }}
				</ion-item>	
				<ion-item class="item-divider item-assertive"  ng-if="request.status == 99" class="declined">
					You declined this request.
				</ion-item>
				<ion-item class="item-divider item-assertive"  ng-if="request.status == 98" class="declined">
					The user cancelled their request.
				</ion-item>
				<ion-item class="item-divider item-tutyr"  ng-if="request.status >= 3 && request.status < 90" class="completed">
					This session is completed.
				</ion-item>
				<ion-item class="item-text-wrap comments request-type-{{request.status}}">
					<div class="profile-image"  ng-if="request.status < 3">
						<img src="{{request.tutor_from.profile_pic}}">
					</div>
					<p class="profile-name">{{request.tutor_from.real_name}}</p>					
					<p class="profile-meta">
						<rating 
							ng-model="request.tutor_from.rating" 
							readonly="true" 
							ng-if="request.tutor_from.num_ratings > 0"
							class="rating"></rating>					
					</p>	
					<p ng-show="request.comments" ng-if="request.status < 90">Comment: "{{request.comments}}"</p>
				</ion-item>
			  <ion-item class="tabs tabs-secondary tabs-icon-left" ng-if="request.status < 2&&!currentUser.busy">
			    <a class="tab-item accept" href="#/app/tutor_requests/{{request.id}}">
			      <i class="icon ion-thumbsup"></i> Accept
			    </a>
			    <a class="tab-item decline" ng-click="decline(request.id)">
			      <i class="icon ion-thumbsdown"></i> Decline
			    </a>
			  </ion-item>				
			</div>	
			<div ng-if="filteredRequests.length < 1" id="request-list-empty">
				<p><i class="icon ion-email"></i></p>
				<p>No requests at the moment.</p>
			</div>

		</div>	
		<div ng-if="requests.length == 0||filteredRequests.length < 1" id="request-list-empty">
			<p><i class="icon ion-email"></i></p>
			<p>No requests at the moment.</p>
		</div>
  </ion-content>
</ion-view>
