<ion-view view-title="Tutoring Request">
  <ion-content>
		<div id="request" class="item">
			<div class="profile-image">
				<img src="{{request.profile_pic}}" />
			</div>
			<p class="profile-name">{{request.from}} is requesting a session</p>
			<p class="comments">&#8220;{{request.comments}}&#8221;</p>
			<p>Debug: you viewed request with index {{request.requestid}}</p>
			<br />
			<button class="button button-block button-tutyr" href="#">
				Start Session
			</button>
		</div>
							
  </ion-content>
</ion-view>
