<ion-view view-title="Tutyr Profile" id="profile">
  <ion-content>	
		<ion-item class="item-divider item-assertive" ng-if="profile.busy">
			Currently in a tutoring session
		</ion-item>	
		<div class="header">
			<div class="profile-image">
				<img src="{{profile.profile_pic}}"> 
			</div>			
			<p class="profile-name">{{profile.real_name}}</p>
			<p class="profile-meta">
				<span class="rate">${{profile.hourly_rate}}/hour</span> 
				&bull; 
				<rating ng-model="profile.rating" readonly="true" ng-if="profile.num_ratings > 0"></rating>
				<span class="ratings" ng-if="profile.num_ratings==0"><em>No ratings</em></span>
			</p>
			
			<a href="#/app/confirm/{{profile.facebook_id}}"
				 class="button button-block button-tutyr" 
				 id="request-tutor">Request Tutor</a>

		</div>
		
		<div class="card">
			<ion-item class="item-divider item-dark">About Me</ion-item>			
			<ion-item class="item-text-wrap">
				<p>{{profile.bio2}}</p>
			</ion-item>
	
			<ion-item class="item-divider item-tutyr">Subjects</ion-item>
			<ion-item class="item-text-wrap">
				<span ng-repeat="subject in profile.subjects" class="subject">
						{{subject.name}}
				</span>
			</ion-item>	
			
			<ion-item class="item-divider item-tutyr">Expertise</ion-item>
			<ion-item class="item-text-wrap">
						{{profile.bio1}}
			</ion-item>
		</div>
		
		<div class="card" ng-if="profile.num_ratings > 0">
			<ion-item class="item-divider item-dark">Reviews ({{profile.num_ratings}})</ion-item>			
			<ion-item class="item-text-wrap">
				<div class="profile-summary" ng-repeat="review in ratings.list">
						<h3>{{review.name_from}} &mdash; <rating ng-model="review.rating" readonly="true"></h3>
						<p style="margin-bottom: 5px">{{review.comments}}</p>
				</div>
			</ion-item>	
		</div>
		
  </ion-content>
</ion-view>
