<ion-view view-title="Waiting">
  <ion-content>
		<div class="row">
  
</div>
<div class="row-75">
<div class="col-75 col-offset-25">
  <div class="col-175 col-offset-25"><div class="profile-image" align="left"><img src="img/test-person.jpg" align="center" /></div></div>
   <div class="col-75 col-offset-25"><ion-spinner icon="dots"></ion-spinner></div>
  <div class="col-75 col-offset-25"><div class="profile-image" align="center"><img src="img/test-person.jpg"  /></div></div>
  
</div>
  </ion-content>
</ion-view>


