/****
Base color: hex #0f9a8c
Lighter: hex #12c1b1
Darker: 
****/

.button.button-tutyr {
	background: #0f9a8c;
	border-color: #12c1b1;
	color: #fff;
}
.toggle.toggle-tutyr input:checked + .track {
	background: #0f9a8c;
	border-color: #12c1b1;
}

.button.button-tutyr:hover {
  color: #fff;
  text-decoration: none; }
.button.button-tutyr.active, .button.button-tutyr.activated {
  border-color: #12c1b1;
  background-color: #0fb5a6;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
.button.button-tutyr.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #0f9a8c; }
.button.button-tutyr.button-icon {
  border-color: transparent;
  background: none; }
.button.button-tutyr.button-outline {
  border-color: #0f9a8c;
  background: transparent;
  color: #0f9a8c; }
  .button.button-tutyr.button-outline.active, .button.button-tutyr.button-outline.activated {
    background-color: #13c7b6;
    box-shadow: none;
    color: #fff; }
		
.item.item-tutyr {
	background: #0f9a8c;
	color: #fff;
	border-color: #12c1b1;
}