.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Menu */
.menu .scroll-content {
	background: #333;
}
.menu .item, .menu .item-content {
	background: #444;
	color: #fafafa;
	border-left: none;
	border-right: none;
	border-top: none;

}

.menu .item-content.activated {
	background: #666;
}

.menu .item .icon { 
  background: #fafafa;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  color: #333;
  margin-top: 10px;
	font-size: 1.3em;
}

.menu .item {
	text-align: left;
}

.user.user-name { 
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}

.user.user-status {
	color: #fff;
	text-align: center;
	font-weight: 300;
	padding-bottom: 1em;
	font-size: 1em;
	
}

.user.user-image {
	width: 10em;
	height: 10em;
	margin: 0 auto;
	margin-top: 2em;
}
.user.user-image img {
	width: 10em;
	border-radius: 5em;
	border: 0.5em solid #fafafa;
}

/* Login */
#intro {
	background: #444;
	color: #fafafa;
	text-align: center;
}
#intro h1, h2 { 
	color: #fafafa;
	font-size: 1.4em;
}
#intro h1 { 
	font-size: 4em;
}
.login { 
	margin: 2em;
}

/* Edit profile */
#edit-profile .profile-image, #edit-profile .profile-image img {
	width: 9em;
	height: 9em;
	border-radius: 50%;
	margin: 0 auto;
}
#edit-profile .profile-image img {
	border: 3px solid #fff;
}
#edit-profile .input-label {
	color: #00B197;
	font-weight: bold;
}

/* Newsfeed */
.header {
	background: #444;
	padding: 1em 0 1em 0;
}
.header h1 {
	text-align: center;
	color: #fff;
}
.newsfeed-profiles {
	background: #eee;
	padding: 1em 0 1em 0;
	color: #111;
}
.newsfeed p {
	margin-bottom: 5px;
}
.newsfeed .profile {
	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
	padding: 0.25em;
	margin-bottom: 0.5em;
	text-align: right;
}
.profile-name {
	font-size: 1.2em;
	font-weight: bold;
}
.profile-image {
}
.profile-image img {
  width: 5em;
  border-radius: 2.5em;
  margin-top: 15%;
}}
#tutor .profile-image img {
	width: 3.85em;
	margin:auto;

}

#request-tutor {
	margin: 20px;
	margin-top: 40px;
}

.profile-rating {
	text-align: right;
}
#profile .profile-meta {
	color: #fff;
	margin-top: -10px;
}
.profile-meta { 
	color: #444;
}
.profile-meta .ion-location {
	padding-right: 10px;
	font-size: 1.75em;
}

.item .profile-summary h3 {
	color:#00B197;

}
.item .profile-summary p {
	margin-left: 0.75em;
	text-align:left;
}

/* Requests */
#confirm-request .profile-image {
	width: 8em;
	height: 8em;
}
#confirm-request .profile-main p {
	margin-top: 1em;
	color: #fff;
	text-align: center;
}
#confirm-request .profile-image img {
	border-radius: 4em;
	border: 3px solid #fff;
}
#request-list-empty p {
	color: #777;
	text-align: center;
	margin-top: 15%;
	font-size: 1.5em;
}
#request-list-empty p i { 
	font-size: 5em;
	color: #aaa;
}
#request-list .profile-image, #request .profile-image {
	margin: 0.5em auto;
	width: 8em;
	height: 8em;
}
#request-list .profile-image img, #request .profile-image img {
	width: 8em;
	height: 8em;
	border-radius: 4em;	
	border: 5px solid #444;
}
#request-list .profile-name {
	text-align: center;
	font-size: 1.5em;
	line-height: 2em;
	margin-top: 1em;
}
#request-list .tab-item.accept {
	font-size: 1.2em;
	color: #eee;
	background: #00B197;
	font-weight: bold;
}
#request-list .tab-item.decline {
	font-size: 1.2em;
	color: #eee;
	background: #444;
	font-weight: bold;
}

p.comments {
	font-style: italic;
}
#request {
	text-align: center;
}
#request p {
	line-height: 1.5em;
}
#request .profile-name {
	font-size: 1.2em;
	margin: 2em 0 1em 0;
}

/* Session pending screen */
#session-pending ion-content {
	background: #5A5A5A;
	text-align: center;
	color: #fff;
}
#session-pending .item.grey {
	background: #5A5A5A;	
	border: none;
	margin-top: 22.5%;
	margin-bottom: 10%;
	font-weight: 500;
}
#session-pending .grey p {
	color: #fff;
	font-size: 1.25em;
	overflow: visible;
}
#session-pending .waiting, #session-pending .profile-image {
	margin: 0 auto;
}
#session-pending .profile-image {
	width: 6rem;
	height: 6rem;	
}
#session-pending .profile-image img {
	width: 5rem; height: 5rem;
	border-radius: 3em;
	border: 3px solid #fff;
}
#session-pending .waiting {
	color: #fff;
	font-size: 80px;
}
#session-pending .item.directions {
	background: #5A5A5A;
	border: none;
	text-align: left;
}
#session-pending .item.directions p { 
	color: #fff;
	margin-bottom: 1.2em;
}

#session-pending .item.directions h2 {
	color: #00D3B6;
	font-weight: bold;
}
#session-pending .angular-google-map-container { height: 15em; } 
/* Session active screen */
#session .profile-image, .header .profile-image {
	width: 8em;
	height: 8em;
	margin: 0 auto;
}
#session .profile-image img, .header .profile-image img {
	width: 8em;
	height: 8em;
	border-radius: 4em;
}
#session .profile-name, .header .profile-name {
	text-align: center;
	padding-top: 1em;
	font-size: 1.25em;
}
#session .profile-meta {
	text-align: center;
	font-weight: 300;
}
.tutor-view-header p {
	overflow:visible;
}
.inactive-session {
	color: #777;
	text-align: center;
	margin-top: 15%;
	font-size: 1.5em;	
}
 .inactive-session .icon {
	font-size: 4em;
	color: #999;
}
.inactive-session p {
	margin-top: 1em;
}

#session .rating {
	text-align: center;
	color: #00B197;	
	font-size: 1.5em;
}

/* View profile */
#profile .header {
	text-align: center;
}
#profile .profile-image img {
	border: 3px solid #fff;
}
#profile .header .profile-name {
	color: #fff;
	font-size: 1.5em;
	margin-bottom: 1em;
}
#profile span.subject {
  background: #00B197;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  margin-right: 3px;
  text-align: center;
  font-size: 0.85em;
  font-weight: 600;
}