.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Menu */
.menu .scroll-content {
	background: #333;
}
.menu .item, .menu .item-content {
	background: #444;
	color: #fafafa;
	border-left: none;
	border-right: none;
	border-top: none;
	margin: 0 5px 0 5px;
}

.menu .item-content.activated {
	background: #666;
}

.menu .item .icon { 
  background: #fafafa;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  color: #333;
  margin-top: 10px;
	font-size: 1.3em;
}

.menu .item {
	text-align: left;
}

.user.user-name { 
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}

.user.user-status {
	color: #fff;
	text-align: center;
	font-weight: 300;
	padding-bottom: 1em;
	font-size: 1em;
	
}

.user.user-image {
	width: 10em;
	height: 10em;
	margin: 0 auto;
	margin-top: 2em;
}
.user.user-image img {
	width: 10em;
	border-radius: 5em;
	border: 0.5em solid #fafafa;
}

/* Login */
#intro {
	background: #444;
	color: #fafafa;
}
#intro h1, h2 { 
	color: #fafafa;
}
#intro h1 { 
	font-size: 4em;
}
.login { 
	margin: 2em;
}

/* Edit profile */
#edit-profile .profile-image, #edit-profile .profile-image img {
	width: 9em;
	height: 9em;
	border-radius: 50%;
	margin: 0 auto;
}
#edit-profile .profile-image img {
	border: 3px solid #fff;
}
#edit-profile .input-label {
	color: #0f9a8c;
	font-weight: bold;
}

/* Newsfeed */
.header {
	background: #444;
	padding: 1em 0 1em 0;
}
.header h1 {
	text-align: center;
	color: #fff;
}
.newsfeed-profiles {
	background: #eee;
	padding: 1em 0 1em 0;
	color: #111;
}
.newsfeed p {
	margin-bottom: 5px;
}
.newsfeed .profile {
	width: 90%;
	margin: 0 auto;
	padding: 0.5em;
	margin-bottom: 0.5em;
}
.profile-name {
	font-size: 1.5em;
	font-weight: bold;
}
.profile-image {
	width: 3.85em;
	height: 3.85em;

}
.profile-image img {
	width: 3.85em;
	border-radius: 1.925em;
}
#tutor .profile-image img {
	width: 3.85em;
	margin:auto;

}

.profile-rating {
	text-align: right;
}
.profile-meta { 
	color: #444;
}
.profile-meta .ion-location {
	padding-right: 10px;
	font-size: 1.75em;
}

.item .profile-summary h3 {
	color:#0f9a8c;

}
.item .profile-summary p {
	margin-left: 0.75em;
	text-align:left;
	

}

/* Requests */
#request-list-empty p {
	color: #777;
	text-align: center;
	margin-top: 15%;
	font-size: 1.5em;
}
#request-list-empty p i { 
	font-size: 5em;
	color: #aaa;
}
#request-list .profile-image, #request .profile-image {
	margin: 0.5em auto;
	width: 8em;
	height: 8em;
}
#request-list .profile-image img, #request .profile-image img {
	width: 8em;
	height: 8em;
	border-radius: 4em;	
	border: 5px solid #444;
}
#request-list .profile-name {
	text-align: center;
	font-size: 1.5em;
	line-height: 2em;
}

p.comments {
	font-style: italic;
}
#request {
	text-align: center;
}
#request p {
	line-height: 1.5em;
}
#request .profile-name {
	font-size: 1.2em;
	margin: 1em 0 1em 0;
}

/* Session active screen */
#session .profile-image, .header .profile-image {
	width: 8em;
	height: 8em;
	margin: 0 auto;
}
#session .profile-image img, .header .profile-image img {
	width: 8em;
	height: 8em;
	border-radius: 4em;
}
#session .profile-name, .header .profile-name {
	text-align: center;
	padding-top: 1em;
	font-size: 1.25em;
}
#session .profile-meta {
	text-align: center;
	font-weight: 300;
}
.tutor-view-header p {
	overflow:visible;
}
#session .inactive-session {
	color: #777;
	text-align: center;
	margin-top: 15%;
	font-size: 1.5em;	
}
#session .inactive-session .icon {
	font-size: 4em;
	color: #999;
}
#session .inactive-session p {
	margin-top: 1em;
}

/* View profile */
#profile .header {
	text-align: center;
}
#profile .profile-image img {
	border: 3px solid #fff;
}
#profile .header .profile-name {
	color: #fff;
	font-size: 1.5em;
	margin-bottom: 1em;
}